// Primary
$lightred:hsl(356, 100%, 66%);
$very-lightred:hsl(355, 100%, 74%);
$very-darkblue:hsl(208, 49%, 24%);
// Neutral
$white:hsl(0, 0%, 100%);
$greyishblue:hsl(240, 2%, 79%);
$very-darkgreyishblue:hsl(207, 13%, 34%);
$very-darkblackblue:hsl(240, 10%, 16%);
// Gradient
$very-lightred2:hsl(13, 100%, 72%);
$lightred2:hsl(353, 100%, 62%);
// Background Gradient -Body
$very-darkgrayblue: hsl(237, 17%, 21%);
$very-darkdesaturatedblue: hsl(237, 23%, 32%);