body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Overpass", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  width: 100%;
}

li {
  list-style: none;
}

/* 
font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */
button {
  font-family: "Ubuntu", sans-serif;
  margin-right: 15px;
  padding: 14px 19px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 20px;
}

section,
footer {
  width: 100%;
}

span.mobile_toggle {
  background: url("../images/icon-hamburger.svg") center center no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 15%;
  top: 0;
  display: none;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50px;
}
header .menu {
  position: relative;
  left: -13%;
  display: flex;
}
header .menu .menu__item {
  position: relative;
  margin: 0 10px 0 10px;
}
header .menu .menu__item p {
  color: white;
}
header .menu .menu__item p::after {
  content: url("/images/icon-arrow-light.svg");
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
header .menu .menu__item ul {
  position: absolute;
  top: 25px;
  left: -15px;
  background: white;
  border-radius: 7px;
  padding: 28px;
  font-size: 15px;
  display: none;
}
header .menu .menu__item:hover ul {
  display: block;
}
header .call_to_action .login {
  background: transparent;
  color: white;
}

.hero {
  background-image: url("/images/bg-pattern-intro.svg"), linear-gradient(135deg, #ff8f70, #ff3d54);
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom-left-radius: 100px;
  text-align: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 150px 0px;
}
.hero .info {
  width: 100%;
  color: white;
  margin: 50px 0;
  padding: 30px 0;
}
.hero .info h1 {
  font-size: 60px;
  margin-bottom: -5px;
}
.hero .info p {
  margin: 30px;
  font-weight: 200;
}
.hero .info .stfre {
  color: #ff525d;
}
.hero .info .l-mor {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.section1 {
  margin-top: 0;
  padding-top: 20px;
  position: relative;
  text-align: center;
}
.section1 .section_heading {
  font-size: 35px;
  position: relative;
  top: 100px;
}
.section1 .section__content {
  overflow: hidden;
  display: flex;
  margin-top: -50px;
}
.section1 .section__content .left {
  text-align: left;
  width: 80%;
  align-self: center;
  position: relative;
  left: 150px;
}
.section1 .section__content .right {
  width: 100%;
  height: 900px;
  position: relative;
  right: -15%;
  background: url("/images/illustration-editor-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section2 {
  margin-top: 50px;
  background-color: #3f4164;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
}
.section2 .section__content {
  display: flex;
  justify-content: space-evenly;
}
.section2 .section__content .left {
  width: 100%;
  background: url("/images/bg-pattern-circles.svg");
  background-position: bottom left;
  background-position: 20px 170%;
  background-size: 90%;
  background-repeat: no-repeat;
}
.section2 .section__content .left img {
  position: relative;
  top: -20%;
  left: 20%;
  height: 100%;
}
.section2 .section__content .right {
  width: 60%;
  align-self: center;
  padding: 20px;
  color: white;
  position: relative;
  left: -10%;
  top: 0;
  text-align: left;
  line-height: 32px;
  margin: -15% 30px 0 -30px;
}

.section3 {
  margin-top: 80px;
}
.section3 .section__content {
  overflow: hidden;
  display: flex;
  margin-top: -20px;
}
.section3 .section__content .left {
  width: 60%;
  height: 700px;
  position: relative;
  left: -15%;
  background: url("/images/illustration-laptop-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.section3 .section__content .right {
  text-align: left;
  width: 40%;
  align-self: center;
  position: relative;
  right: 150px;
}

footer {
  background: #25252d;
  color: white;
  font-weight: 300;
  border-top-right-radius: 100px;
  padding: 40px 0;
}
footer .content {
  overflow: hidden;
  padding: 50px 50px 0 80px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}
footer .content div {
  width: 100%;
}
footer .content h3 {
  font-size: 18px;
}
footer .content ul {
  padding: 0;
  font-size: 14px;
}
footer .content ul li {
  margin-bottom: 20px;
}

.attribution {
  font-size: 11px;
  text-align: right;
}
.attribution a {
  color: #3e52a3;
}

@media (max-width: 998px) {
  span.mobile_toggle {
    display: block;
  }

  header {
    justify-content: space-between;
    padding: 5px 30px;
  }
  header .menu {
    display: none;
  }
  header .call_to_action {
    display: none;
  }
  header .call_to_action .login {
    background: transparent;
    color: white;
  }

  .hero {
    width: 100%;
  }
  .hero .info {
    width: 90%;
    color: white;
    margin: 50px auto;
    padding: 30px 0;
  }
  .hero .info h1 {
    font-size: 40px;
    margin-bottom: -5px;
  }
  .hero .info p {
    margin: 30px;
    font-weight: 200;
  }
  .hero .info .stfre {
    color: #ff525d;
  }
  .hero .info .l-mor {
    background: transparent;
    border: 1px solid white;
    color: white;
  }

  .section1 .section_heading {
    top: 30px;
  }
  .section1 .section__content {
    flex-direction: column-reverse;
    margin: 20px 0;
  }
  .section1 .section__content .left {
    text-align: center;
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    position: relative;
    left: 0;
  }
  .section1 .section__content .left div {
    margin-top: 70px;
  }
  .section1 .section__content .right {
    width: 80%;
    height: 400px;
    margin: 50px auto 0 auto;
    position: relative;
    left: 0;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .section2 .section__content {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
  }
  .section2 .section__content .left {
    text-align: center;
    width: 80%;
    background: url("/images/bg-pattern-circles.svg");
    background-position: -10px -100px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section2 .section__content .left img {
    position: relative;
    top: -150px;
    left: 0;
    width: 80%;
  }
  .section2 .section__content .right {
    text-align: center;
    width: 80%;
    position: relative;
    top: -100px;
    left: 0;
    margin: -25px auto;
    color: white;
  }

  .section3 {
    margin-top: 50px;
  }
  .section3 .section__content {
    overflow: hidden;
    text-align: center;
    display: block;
  }
  .section3 .section__content .left {
    width: 90%;
    height: 300px;
    position: relative;
    left: 0;
    margin: 5px auto;
    background: url("/images/illustration-laptop-desktop.svg");
    background-position: 50% 50%;
    background-size: 90%;
    background-repeat: no-repeat;
  }
  .section3 .section__content .right {
    text-align: center;
    width: 90%;
    margin: 0px auto;
    position: relative;
    left: 0;
  }
  .section3 .section__content .right div {
    margin-top: 70px;
  }

  footer {
    text-align: center;
    margin-top: 50px;
  }
  footer .content {
    display: block;
  }
  footer .content div:not(:first-child) {
    margin-top: 50px;
  }
}
@media (min-width: 1002px) {
  .section2 {
    height: 350px;
  }
}/*# sourceMappingURL=style.css.map */